{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.0.6/sweetalert2.min.css" />
{% endblock %}

{% block content %}
<h1>PETICION ENVIADA</h1>
{% endblock %}